# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# Visual Studio Code
#
.vscode/
mango.code-workspace

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# CocoaPods
ios/Pods/